{% extends 'base.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="row">
        <div class="mx-auto col-md-9 bg-light rounded p-5">
            <h1>Inscrivez-vous</h1>
            {{ form_start(registrationForm) }}

                <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
            {{ form_end(registrationForm) }}

        </div>
    </div>
        

        

{% endblock %}
