{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Maquette /* session date here */</h1>
    <div class="row mt-4">  
       
        <div class="col-md-6 mx-auto bg-light rounded p-5"> 
        {{ form_start(attributionForm) }}
        
            {{ form_row(attributionForm) }}
            <button class="btn btn-primary" type="submit">Nouvelle attribution</button>
        {{ form_end(attributionForm) }}
            <h1 class="text-center">form here, then list</h1>
        </div>
    </div>
{% endblock %}
