.hoverable{
    transition: 0.3s;
    &:hover{
        background-color: $light !important
    }
}

.cursor-initial {
    cursor: initial !important;
}

.pointer{
    cursor:pointer;
}

.transition-default {
    transition: 0.3s;
}