/*  **********************
COLOR
*********************** */
$light: #e2e2e2;
$red: #a01616;
$orange: #c5591b;
$yellow: #c5a61b;
$green: #5da31b;
$greenish: #0d865e;
$blue: #0d6086;
$darkBlue: #0d1586;
$violet: #6119a3;
$magenta: #be1b7a;
$dark: #252525;
$darkGreen: #0e6b2d;
