div.form-control{
    input, select{
        border: none;
        outline: none;
        &:focus{
            outline: 0px !important;
            -webkit-appearance: none;
            box-shadow: none !important;
        }
    }
}