table{
    border-collapse: collapse;
    &, & td, & th{
        border: 1px solid black;
    }
    tr.hoverable{
        transition: 0.3s;
        &:hover{
            background-color: $light
        }
    }
}