{% extends 'base.html.twig' %}

{% block body %}
<h1 class="text-center">Préferences et indisponibilités</h1>
<div class="mt-4 row justify-content-center">
    <div class="mx-1 p-5 col-md-6 bg-light rounded">
        <form action="{{ path('app_preference_create') }}" method="post">
            <div class="row">
                <div class="mx-auto col-md-12">
                    <p class="text-muted">Je veux renseigner une...</p>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="js-preference-btn btn btn-success btn-block" id="js-preference-btn">
                                <input type="radio" 
                                    name="preference_state" 
                                    value="preference" 
                                    hidden="hidden"
                                >
                                <span>Préférence</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="js-preference-btn btn btn-danger btn-block" id="js-unavailability-btn">
                                <input type="radio" 
                                    name="preference_state" 
                                    value="unavailability" 
                                    hidden="hidden"
                                >
                                <span>Indisponibilité</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="mt-4 row">
                <div class="mx-auto col-md-12">
                    <p class="text-muted">Pour tous les...</p>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12 d-flex">
                    <div style="height: 75px" class="js-preference-weekday-btn  m-1 w-100 rounded d-flex align-items-center justify-content-center btn btn-dark text-uppercase" id="js-preference-weekday-btn-1">
                        <input 
                            type="checkbox" 
                            name="preference_weekday_monday" 
                            value="true" 
                            hidden="hidden"
                        />
                        <span>Lun</span>
                    </div>
                    <div style="height: 75px" class="js-preference-weekday-btn  m-1 w-100 rounded d-flex align-items-center justify-content-center btn btn-dark text-uppercase" id="js-preference-weekday-btn-2">
                        <input 
                            type="checkbox" 
                            name="preference_weekday_tuesday" 
                            value="true" 
                            hidden="hidden"
                        />
                        <span>Mar</span>
                    </div>
                    <div style="height: 75px" class="js-preference-weekday-btn  m-1 w-100 rounded d-flex align-items-center justify-content-center btn btn-dark text-uppercase" id="js-preference-weekday-btn-3">
                        <input 
                            type="checkbox" 
                            name="preference_weekday_wednesday" 
                            value="true" 
                            hidden="hidden"
                        />
                        <span>Mer</span>
                    </div>
                    <div style="height: 75px" class="js-preference-weekday-btn  m-1 w-100 rounded d-flex align-items-center justify-content-center btn btn-dark text-uppercase" id="js-preference-weekday-btn-4">
                        <input 
                            type="checkbox" 
                            name="preference_weekday_thursday" 
                            value="true" 
                            hidden="hidden"
                        />
                        <span>Jeu</span>
                    </div>
                    <div style="height: 75px" class="js-preference-weekday-btn  m-1 w-100 rounded d-flex align-items-center justify-content-center btn btn-dark text-uppercase" id="js-preference-weekday-btn-5">
                        <input 
                            type="checkbox" 
                            name="preference_weekday_friday" 
                            value="true" 
                            hidden="hidden"
                        />
                        <span>Ven</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12 d-flex">
                    <div class="js-preference-weekday-btn mt-2 w-100 rounded d-flex align-items-center justify-content-center btn btn-dark" id="js-preference-weekday-btn-all">
                        <span>Tous les jours</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12 d-flex">
                    <div class="js-preference-weekday-btn mt-2 w-100 rounded d-flex align-items-center justify-content-center btn btn-dark" id="js-preference-weekday-btn-specific">
                        <input 
                            type="checkbox" 
                            name="preference_weekday_specific" 
                            value="true" 
                            hidden="hidden"
                        >
                        <!-- if checkbox specific check uncheck everything else -->
                        <span>Un jour ou un période spécifique</span>
                    </div>
                </div>
            </div>

            <div class="mt-4 row">
                <div class="mx-auto col-md-12">
                    <p class="text-muted">À ces heures là :</p>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn btn-dark btn-block js-preference-time-btn" id="js-preference-time-btn-1">
                                <input 
                                    type="checkbox" 
                                    name="preference_time_1" 
                                    value="true"
                                    hidden="hidden"
                                />
                                <span>8h00 - 9h30</span>
                            </div>
                            <div class="btn btn-dark btn-block js-preference-time-btn" id="js-preference-time-btn-2">
                                <input 
                                    type="checkbox" 
                                    name="preference_time_2" 
                                    value="true"
                                    hidden="hidden"
                                />
                                <span>9h30 - 11h00</span>
                            </div>
                            <div class="btn btn-dark btn-block js-preference-time-btn" id="js-preference-time-btn-3">
                                <input 
                                    type="checkbox" 
                                    name="preference_time_3" 
                                    value="true"
                                    hidden="hidden"
                                />
                                <span>11h00 - 12:30</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="btn btn-dark btn-block js-preference-time-btn" id="js-preference-time-btn-4">
                                <input 
                                    type="checkbox" 
                                    name="preference_time_4" 
                                    value="true"
                                    hidden="hidden"
                                />
                                <span>13h30 - 15h00</span>
                            </div>
                            <div class="btn btn-dark btn-block js-preference-time-btn" id="js-preference-time-btn-5">
                                <input 
                                    type="checkbox" 
                                    name="preference_time_5" 
                                    value="true"
                                    hidden="hidden"
                                />
                                <span>15h00 - 16:30</span>
                            </div>
                            <div class="btn btn-dark btn-block js-preference-time-btn" id="js-preference-time-btn-6">
                                <input 
                                    type="checkbox" 
                                    name="preference_time_6" 
                                    value="true"
                                    hidden="hidden"
                                />
                                <span>16h30 - 18h00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12 d-flex">
                    <div class="mt-2 w-100 rounded d-flex align-items-center justify-content-center btn btn-dark js-preference-time-btn" id="js-preference-time-btn-all">
                        <span>Toute la journée</span>
                    </div>
                </div>
            </div>

            <!--s
            <div class="mt-4 row">
                <div class="mx-auto col-md-12">
                    <p class="text-muted">Si vous intervenez dans plusieurs matières et que vous avez besoin de matériel ou d'un logiciel particulier dans vos cours, vous devez obligatoirement préciser la matière en question.</p>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12">
                    <div class="form-group">
                        <select id="attribution_subject" name="attribution[subject]" class="form-control">
                            <option value="1">Séléctionnez la matière</option>
                            <option value="2">DEV_1</option>
                            <option value="3">PRG_1</option>
                            <option value="4">Toutes les matières</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <select id="attribution_subject" name="attribution[subject]" class="form-control">
                            <option value="1">Séléctionnez le matériel nécessaire</option>
                            <option value="2">DEV_1</option>
                            <option value="3">PRG_1</option>
                            <option value="4">Toutes les matières</option>
                        </select>
                    </div>
                </div>
            </div>
            -->

            <div class="mt-4 row">
                <div class="mx-auto col-md-12">
                    <p class="text-muted">Si vous avez des circonstances spécifiques, vous pouvez laisser une petite note :</p>
                </div>
            </div>
            <div class="row">
                <div class="mx-auto col-md-12">
                    <textarea 
                        class="form-control" 
                        rows="2" 
                        placeholder="Exemple : Je suis disponible mardi entre 18h00 et 19h30..." 
                        id="js-preference-note" 
                        maxlength="150"
                    ></textarea>
                    <p class="mb-0 text-muted text-right" id="js-preference-note-counter">0/150</p>
                </div>
            </div>
            
            <button class="mt-4 btn btn-block btn-primary">Enregistrer</button>
        </form>
    </div>




    <div class="mx-1 col-md-3">
        <div class="my-1 row bg-dark text-light rounded">
            <div class="col-12 p-4">
                <h4>Vos préférences</h4> 
                <div>
    {% if preferences is empty %}
                    <p>Vous n'avez pas encore renseigné vos préférences.</p>
    {% else %}
                    <ul>
        {% for preference in preferences %}
                        <li>{{ preference }}</li>
        {% endfor %}
                    </ul>
    {% endif %}
                </div>
            </div>
        </div>
        <div class="my-1 row bg-dark text-light rounded">
            <div class="col-12 p-4">
                <h4>Vos indisponibilités</h4> 
                <div>
    {% if unavailabilities is empty %}
                    <p>Vous n'avez pas encore renseigné vos indisponibilités.</p>
    {% else %}
                    <ul>
        {% for unavailability in unavailabilities %}
                        <li>{{ unavailability }}</li>
        {% endfor %}
                    </ul>
    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('js/routes/preference/index.js') }}" type="text/javascript"></script>
{% endblock %}
